parameters:
  git_dir: .
  bin_dir: vendor/bin
  tasks:
    phpcsfixer2:
      allow_risky: true
      config: .php_cs
      using_cache: true
      config_contains_finder: true
    phpstan:
      level: 7
      ignore_patterns:
        - test
    phpunit: ~
    phpparser:
      visitors:
        declare_strict_types: ~
        never_use_else: ~
