<phpunit colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>./test/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./test/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="var/report" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="var/coverage.xml" />
        <log type="junit" target="var/junit.xml"/>
    </logging>
</phpunit>
